<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.ruslancc.maff"
    versionCode = "10"
    version     = "1.1.0" >

<!-- versionCode is optional and Android only -->

  <name>Ведущий мафии</name>

  <description>
      RuslanCC
  </description>

  <author href="https://build.phonegap.com" email="mail@ruslan.cc">
      RuslanCC
  </author>

  <icon src="icon.png" />

  <preference name="phonegap-version" value="cli-9.0.0" />

  <preference name="Fullscreen" value="true" />
  <preference name="Orientation" value="landscape" />

  <platform name="android">
      <allow-intent href="market:*" />
  </platform>

</widget>